<section class="section aboutus">
    <div class="content">
        <h1 class="title">A propos de nous !</h1>
        <p>Blockchain-games.fr est un blog dédié à l’actualité des jeux blockchain. Avec plus de 0 000 000 000 pages
            vues par mois, ce blog est actuellement la référence des jeux blockchain.
            Ce blog répond à la volonté de partager ses connaissances en matière de gamification et de mettre en avant les réflexions, retours d’expérience et la veille des
            différents auteurs.
            Ce blog a pour objectif de relayer la pensée de simplement de rendre accessible l’information.
            Tous vos avis et réactions sont les bienvenus, n’hésitez donc pas à nous contacter via le formulaire de contact.</p>
            <figure>
        <img src="https://www.muse-motivation.fr/wp-content/uploads/2018/06/team-building-5raisons-hor-1920x1080.jpg">
        <img src="https://www.lenouveleconomiste.fr/wp-content/uploads/2019/10/Un-team-building-pour-doper-le-bien-%C3%AAtre-au-travail-826x459.jpg">
      </figure>
    </div>
</section>