<section class="section avantage">
    <div class="content">
      <h1 class="title">Découvre une des caractéristiques propre à la blockchain</h1>
      <p>Aujourd’hui, de nombreux achats de jeux vidéo se font sur des plateformes spécialisées (Steam, Uplay, Origin, Epic Games...) Et la revente de jeux sur ces dernières n’est pas possible. En réalité ce ne sont plus vraiment des achats puisque les jeux n’appartiennent plus vraiment à l’acheteur. En cas de piratage, de retrait de la plateforme ou tout simplement si cette dernière venait à fermer, c’est l’accès au jeu que l’utilisateur perd. Et ce, même s'il s’agissait d’un jeu solo.</p>
      <h2>La propriété</h2>
      <p>Mais ces cas d’utilisations sont souvent des améliorations des jeux, permettant de proposer une meilleure expérience de jeux aux habitués. Est-ce qu’une dimension « crypto » au jeu vidéo permettrait de toucher un nouveau public ? Des tous nouveaux joueurs ce n'est pas sûr ; de nouveaux consommateurs c'est plus probable. La barrière de la carte bancaire pourrait être enlevée, et des joueurs n’étant pas bancarisés pour diverses raisons pourront tout de même acheter des jeux et autres fonctionnalités. Ces innovations sont également un très bon argument de vente. La garantie de réellement posséder ce que l’on achète en jeu pourrait convaincre des segments de joueurs qui n’avaient pas l’habitude par exemple d’acheter des cosmétiques.</p>
      <figure>
        <img src="http://mediassocionumeriques.org/wp-content/uploads/2020/12/fn-store.png">
        <img src="http://mediassocionumeriques.org/wp-content/uploads/2020/12/1_E9gIk5YYni4Ywz9QKU-kSA-800x445.png">
        <figcaption>
          Exemple: Les achats intégrés
        </figcaption>
      </figure>
      <h6>Conclusion: </h6>
      <p>Les possibilités sont très nombreuses et on ne peut prévoir les prochaines innovations dans ce domaines. Les cas d’usages présentés sont déjà très pertinent. Ils  permettront une plus grande autonomie, plus de contrôle et une réelle propriété.</p>
    </div>
</section>