<div class="container contact">  
  <form id="contact" action="" method="post">
    <h3>Hésitez pas à nous contacter !</h3>
      Nom: <input placeholder="Votre nom.." type="text">
      Prénom: <input placeholder="Votre prénom.." type="text" >
      Type de demande: <select name="demande" id="demande">
        <option value="choose">Choisi ton motif</option>
        <option value="redac">Contacter la rédaction</option>
        <option value="bug">Signaler bug sur le site</option>
        <option value="others">Autres</option>
      </select><br>
      Email: <input placeholder="Votre adresse Email.." type="email">
      Votre message: <textarea placeholder="Votre message à notre intention.." ></textarea>
      <button name="submit" type="submit" id="contact-submit">S'abonner</button>
  </form>
</div>